body{
    background-color: whitesmoke;
    color: darkslategrey;
}
aside{
    font-size: medium;
}
p{
    text-align: center;
    font-size: xx-large;
}
canvas{
    display: block;

    float : left;
    width: 40%;
    color: lightseagreen;
    font-size: medium;

}
t1{

    display: block;

    text-align: left;
    float: left;
    width: 50%;

    /*overflow: hidden; !* will contain if #first is longer than #second *!*/

}