body{
    background-color: whitesmoke;
    color: darkslategrey;
}
h1{

    float: left;
}
form{
    padding-top: 70px;
}
h2{
    float: right;
    width: 40%;
}
aside{
    font-size: medium;
}
p{
    text-align: left;
    font-size: xx-large;
}
canvas{
    display: block;

    float : left;
    width: 30%;
    color: lightseagreen;
    font-size: medium;

}
t1{

    display: block;

    text-align: left;
    float: left;
    width: 50%;

    /*overflow: hidden; !* will contain if #first is longer than #second *!*/

}